:root {
  /* dark mode */
  --dark-bg: #333;
  --dark-hdr-bg: #222;
  --dark-text: #ddd;
  /* light mode */
  --light-bg: #ddd;
  --light-hdr-bg: #eee;
  --light-text: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-bg);
  color: var(--light-text);
}

body.dark {
  background: var(--dark-bg);
  color: var(--dark-text);
}

.text {
  font-family: "Roboto", sans-serif;
  color: var(--light-text);
}

.text.dark {
  color: var(--dark-text);
}

nav {
  height: 13%;
  background: var(--light-hdr-bg);
}
nav.dark {
  background: var(--dark-hdr-bg);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 80vw;
  margin: 0 auto;
}
/* .nav-left {
} */
.nav-left a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
header h1 {
  font-size: 2rem;
}
/* .nav-right {
} */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 1rem;
}
.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
}
.icon {
  width: 30px;
  height: 30px;

  color: red;
  /* color: var(--light-text); */
}
/* .icon.dark {
  color: var(--dark-text);
} */
