body {
  background: #333;
}
h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}
h2 {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;
}
