@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", serif;
}
body {
  overflow: hidden;
  --accent-clr: #1e90ff;

  /* light mode */
  --bg-clr: #f5f5f5;
  --primary-clr: #fafafa;
  --main-txt-clr: #212121;
  --second-txt-clr: #757575;
}
body.dark {
  /* dark mode */
  --bg-clr: #424242;
  --primary-clr: #212121;
  --main-txt-clr: #fafafa;
  --second-txt-clr: #e0e0e0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-clr);
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  z-index: 100;
  background-color: var(--primary-clr);
}
.logo {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: var(--main-txt-clr);
  letter-spacing: 3px;
  cursor: pointer;
  /* text-transform: uppercase; */
}
.splash {
  margin: 0 10px;
  color: var(--accent-clr);
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style: none;
  margin: 0 15px;
}
.nav-items li a {
  font-size: 25px;
  color: var(--main-txt-clr);
  letter-spacing: 3px;
  text-decoration: none;
}
.nav-items li:hover a {
  color: var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
  transition: 0.3s;
}
.links a {
  font-size: 30px;
  color: var(--main-txt-clr);
  margin: 25px 10px;
}
.links a:hover {
  color: var(--accent-clr);
  transition: 0.3s;
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}
.clmn {
  width: 50%;
}
.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: var(--main-txt-clr);
}
.topline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 35px;
  bottom: 20px;
  background-color: var(--accent-clr);
}
.wrapper h1 {
  display: block;
  font-size: 5em;
  font-weight: 800;
  color: var(--main-txt-clr);
}
.multi-txt {
  color: var(--accent-clr);
}
.wrapper p {
  display: block;
  width: 90%;
  font-size: 1.25em;
  color: var(--second-txt-clr);
}
.btns {
  width: 100%;
  position: relative;
  left: 15%;
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: var(--main-txt-clr);
  background-color: var(--accent-clr);
  padding: 5px 14px;
  margin: 30px 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  transform: perspective(1px) scale(1.1);
  transition: 0.3s;
}

/* TEST */
.none {
  display: none;
}
