@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", serif;
}
body {
  overflow: hidden;
  --accent-clr: #1e90ff;
  --accent-clr-2: #1ee5ff;

  /* light mode */
  --bg-clr: #f5f5f5;
  --primary-clr: #fafafa;
  --main-txt-clr: #212121;
  --second-txt-clr: #757575;
}
body.dark {
  /* dark mode */
  --bg-clr: #424242;
  --primary-clr: #212121;
  --main-txt-clr: #fafafa;
  --second-txt-clr: #e0e0e0;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-clr);
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  line-height: 80px;
  position: relative;
  z-index: 100;
  background-color: var(--primary-clr);
}
.logo {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  color: var(--main-txt-clr);
  letter-spacing: 3px;
  cursor: pointer;
}
.splash {
  margin: 0 10px;
  color: var(--accent-clr);
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style: none;
  margin: 0 15px;
}
.nav-items li a {
  font-size: 25px;
  color: var(--main-txt-clr);
  letter-spacing: 3px;
  text-decoration: none;
}
.nav-items li:hover a {
  color: var(--accent-clr);
  border-bottom: 2px solid var(--accent-clr);
  transition: 0.3s;
}
.links a {
  font-size: 30px;
  color: var(--main-txt-clr);
  margin: 25px 10px;
}
.links a:hover {
  color: var(--accent-clr);
  transition: 0.3s;
}
.wrapper {
  margin-top: 50px;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}
.wrapper::before {
  position: absolute;
  content: "";
  height: 500px;
  width: 500px;
  border-radius: 50%;
  left: -8%;
  top: 40%;
  background: linear-gradient(45deg, var(--accent-clr), var(--accent-clr-2));
  animation: circle1 8s linear infinite;
}
.wrapper::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 35%;
  top: 12%;
  background: linear-gradient(45deg, var(--accent-clr), var(--accent-clr-2));
  animation: circle2 4s linear infinite;
}
@keyframes circle1 {
  50% {
    transform: scale(1.15);
  }
}
@keyframes circle2 {
  50% {
    transform: translate(-10%, -15%);
  }
}
.clmn {
  width: 50%;
}
.clmn0 {
  z-index: 5;
}
.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: var(--main-txt-clr);
}
.topline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 35px;
  bottom: 20px;
  background-color: var(--accent-clr);
}
.wrapper h1 {
  display: block;
  font-size: 5em;
  font-weight: 800;
  color: var(--main-txt-clr);
}
.multi-txt {
  color: var(--accent-clr);
}
.wrapper p {
  display: block;
  width: 90%;
  font-size: 1.25em;
  color: var(--second-txt-clr);
}
.btns {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: var(--main-txt-clr);
  background-color: var(--accent-clr);
  padding: 5px 14px;
  margin: 30px 15px;
  letter-spacing: 2px;
  border-radius: 4px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.btn:hover {
  transform: perspective(1px) scale(1.1);
  transition: 0.3s;
}
.imgbox {
  position: relative;
  height: 100%;
  width: 100%;
}
.imgbox img {
  position: relative;
  height: 100%;
  width: calc(90% - 80px);
  top: -90px;
  right: -100px;
  border-radius: 50%;
  animation: animateUser 4s linear infinite;
}
@keyframes animateUser {
  50% {
    right: -90px;
    top: -80px;
  }
}
.imgbox #splash {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  width: 160%;
  filter: saturate(200%);
  animation: animate 4s linear infinite;
}
@keyframes animate {
  50% {
    top: 39%;
    left: 51%;
  }
}

/* TEST */
.none {
  display: none;
}
